<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title %}{{title|escape}} - {% endif %}js-xss module</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

  <!--Icon Fonts-->
  <link rel="stylesheet" media="screen" href="/assets/fonts/font-awesome/font-awesome.min.css" />

  <!-- Extras -->
  <link rel="stylesheet" type="text/css" href="/assets/extras/animate.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- jQuery Load -->
  <script src="/assets/js/jquery-min.js"></script>

  <!-- Bootstrap JS -->
  <script src="/assets/js/bootstrap.min.js"></script>

</head>

<body>
  <section id="header">
    <!-- Nav Start -->
    <div class="menu">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">js-xss</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav pull-right">
            {% assign current_nav_list = nav_list|get:lang %}
            {% for item in current_nav_list %}
              {% if item.list.length > 0 %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{item.title|escape}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                {% for item2 in item.list %}
                  <li><a href="/{{lang|escape}}{{item2.url|escape}}">{{item2.title|escape}}</a></li>
                {% endfor %}
                </ul>
              </li>
              {% else %}
              <li><a href="/{{lang|escape}}{{item.url|escape}}">{{item.title|escape}}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- Nav End -->
  </section>